BSC_RPC_URL=https://bsc.publicnode.com
PRIVATE_KEY=
BSCSCAN_API_KEY=

FEE_RECIPIENT=0x0D70FABE5B212f5BE5EFa503a2Dcc4D5C54B6347
CREATION_FEE_BNB=0.005

VITE_LAUNCHPAD_CHAIN_ID=56
VITE_LAUNCHPAD_FACTORY_ADDRESS=
VITE_LAUNCHPAD_CREATION_FEE_WEI=5000000000000000
